<app-header></app-header>


<div class="container">
  <div class="panel">
    <h2>Lundi</h2>
    <a href="#" class="sub-panel">Plat 1</a>
    <a href="#" class="sub-panel">Plat 2</a>
  </div>
  <div class="panel">
    <h2>Mardi</h2>
    <a href="#" class="sub-panel">Plat 1</a>
    <a href="#" class="sub-panel">Plat 2</a>
  </div>
  <div class="panel">
    <h2>Mercredi</h2>
    <a href="#" class="sub-panel">Plat 1</a>
    <a href="#" class="sub-panel">Plat 2</a>
  </div>
</div>
<div class="container">
  <div class="panel">
    <h2>Jeudi</h2>
    <a href="#" class="sub-panel">Plat 1</a>
    <a href="#" class="sub-panel">Plat 2</a>
  </div>
  <div class="panel">
    <h2>Vendredi</h2>
    <a href="#" class="sub-panel">Plat 1</a>
    <a href="#" class="sub-panel">Plat 2</a>
  </div>

</div>