<app-header></app-header>


<div class="container">
  <div class="panel">
    <h2>Lundi</h2>
    <div class="sub-panel" (click)="openOrderModal()">Plat 1</div>
    <div class="sub-panel" (click)="openOrderModal()">Plat 2</div>
  </div>
  <div class="panel">
    <h2>Mardi</h2>
    <div class="sub-panel" (click)="openOrderModal()">Plat 1</div>
    <div class="sub-panel" (click)="openOrderModal()">Plat 2</div>
  </div>
  <div class="panel">
    <h2>Mercredi</h2>
    <div class="sub-panel" (click)="openOrderModal()">Plat 1</div>
    <div class="sub-panel" (click)="openOrderModal()">Plat 2</div>
  </div>
</div>
<div class="container">
  <div class="panel">
    <h2>Jeudi</h2>
    <div class="sub-panel" (click)="openOrderModal()">Plat 1</div>
    <div class="sub-panel" (click)="openOrderModal()">Plat 2</div>
  </div>
  <div class="panel">
    <h2>Vendredi</h2>
    <div class="sub-panel" (click)="openOrderModal()">Plat 1</div>
    <div class="sub-panel" (click)="openOrderModal()">Plat 2</div>
  </div>

</div>