// HEADER
// header color
.header {
    --background: rgb(29, 29, 29) !important;
}


// header logo
.logo {
    margin-left: 10px;
}

// header text
.white_text {
    color: white;
    font-size: 14px !important;
    margin-right: 10px;
}