<ion-header>
  <ion-toolbar class="header">
    <ion-button slot="start" fill="clear">
      <img class="logo" src="/assets/Pictures/logo.png" alt="Logo" width="50" height="50">
    </ion-button>
    <ion-buttons slot="start">
      <ion-button shape="round" fill="solid" color="warning">Plat de la semaine</ion-button>
      <ion-button shape="round" fill="solid" color="warning">Carte</ion-button>
    </ion-buttons>
    <div class="white_text" slot="end">⏱︎ Commandes acceptées jusqu'à 10h30</div>
    <ion-buttons slot="end">
      <ion-button shape="round" fill="solid" color="warning">Se Connecter</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>